<ion-content>
  <div class="profile ion-padding">
    <app-page-header title="Profile"></app-page-header>
    <ion-grid>
      <ion-row>
        <ion-col class="profile__user">
          <div class="profile__img"></div>
          <label class="profile__name">Jake Castor</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="profile__account">
          <label class="profile__account--title">My Account</label>
          <ul class="profile__account__items">
            <div class="profile__account__items__item">
              <div class="profile__account__items__item--icon-container">
                <ion-icon name="person-outline"></ion-icon>
              </div>
              <span class="profile__account__items__item--name">Edit profile</span>
              <ion-icon name="chevron-forward-outline"></ion-icon>

            </div>
            <div class="profile__account__items__item">
              <div class="profile__account__items__item--icon-container">
                <ion-icon name="person-outline"></ion-icon>
              </div>
              <span class="profile__account__items__item--name">Agriculture</span>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
            <div class="profile__account__items__item">
              <div class="profile__account__items__item--icon-container">
                <ion-icon name="person-outline"></ion-icon>
              </div>
              <span class="profile__account__items__item--name">My methods</span>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
            <div class="profile__account__items__item">
              <div class="profile__account__items__item--icon-container">
                <ion-icon name="person-outline"></ion-icon>
              </div>
              <span class="profile__account__items__item--name">My favorites</span>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-button class="danger" name="Log out"></app-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
