<ion-content>
  <div class="profile">
    <app-page-header title="Profile"></app-page-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img></ion-img>
          <label>Jake Castor</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <label>My Accont</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ul class="profile__items">
            <div class="profile__item">
              <ion-icon name="create-outline"></ion-icon>
              <span class="profile__item--name">Edit profile</span>
            </div>
            <div class="profile__item">
              <ion-icon></ion-icon>
              <span class="profile__item--name">Agriculture</span>
            </div>
            <div class="profile__item">
              <ion-icon></ion-icon>
              <span class="profile__item--name">My methods</span>
            </div>
            <div class="profile__item">
              <ion-icon></ion-icon>
              <span class="profile__item--name">My favorites</span>
            </div>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
