.screen2 {
    &__container {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fafafa;
    }
  }
  
  .skip-button {
    position:absolute;
    right:10%;
    top:5%;
    color: var(--ion-color-gray-light);
    font-size: 20px;
    font-weight: bold;
  }
  