<ion-content>
  <div class="welcome__container">
    <div class="welcome__backgroundImg"></div>
    <div class="welcome__header">
      <ion-img
        class="welcome__header--logo"
        src="assets/img/logo.png"
      ></ion-img>
      <ion-label class="welcome__header--text">Welcome</ion-label>
    </div>
    <div class="welcome__content">
      <ion-img
        class="welcome__content--img"
        src="assets/img/welcome/welcome.png"
      ></ion-img>
      <div class="welcome__content--form">
        <input
          [(ngModel)]="firstName"
          type="text"
          placeholder="Enter your first name"
        />
        <ion-button
          color="secondary"
          (click)="onClickBtn()"
          routerLink="/main/tabs/home/crops"
          >Enter</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
