<ion-content class="ion-padding">
  <div class="my-methods">
    <app-page-header title="My Methods"></app-page-header>
    <div class="back-btn" (click)="backBtnHandler()">
      <ion-icon class="back-btn--icon" name="arrow-back-outline"></ion-icon>
    </div>
    <div class="my-methods__crops">
      <h3>Crops</h3>
      <app-card-method *ngFor="let name of cropsName" [userImg]="userImg"
        [name]="name.charAt(0).toUpperCase() + name.slice(1)" [icon]="setIcon(name)"
        [cardColor]="setColor('crops',cropsName.indexOf(name))" [methods]="userFarmingMethod[name.toLowerCase()]"
        [userName]="userName" [userId]="_userId">
      </app-card-method>

    </div>
    <div class="my-methods__crops">
      <h3>Livestock</h3>
      <app-card-method *ngFor="let name of livestockName" [userImg]="userImg"
        [name]="name.charAt(0).toUpperCase() + name.slice(1)"
        [cardColor]="setColor('livestock',livestockName.indexOf(name))" [icon]="setIcon(name)"
        [methods]="userFarmingMethod[name.toLowerCase()]" [userName]="userName" [userId]="_userId">
      </app-card-method>


    </div>
  </div>
</ion-content>
