input {
  width: 7rem;
  height: 5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid #bcc3bd;
  margin-right: 1rem;
  color: #2e322f;
}
.edit__input-field {
  margin-top: 2rem;
}

.edit__header-button {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e433f;
  width: 100%;
  padding: 1.5rem;
  color: #ffffff;
}
