.crops-or-livestock {
  display: grid;
  height: 90vh;
  &__choices {
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;

    &--crops,
    &--livestock {
      text-align: center;
    }

    &--crops-container,
    &--livestock-container {
      width: 140px;
      height: 160px;
      border-radius: 25px;
      overflow: hidden;
      margin: 0 auto;

      & > * {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  h3 {
    transition: all 0.5s;
  }
  &__button {
    align-self: flex-end;
  }
}

.selected-item {
  .crops-or-livestock {
    &__choices {
      &--crops,
      &--livestock {
        &-container {
          filter: blur(1px);
        }
      }
    }
  }
  h3 {
    transition: all 0.5s;
    transform: translateY(-11rem);
    background-color: #fff;
  }
}

.back-btn {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  top: 23px;
  left: 23px;
  &:hover {
    opacity: 0.8;
  }
  &--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: #333;
  }
}
