<ion-content class="ion-padding">
  <div class="select-crops">
    <h1>Select crops:</h1>
    <ul class="select-crops__items">
      <li class="select-crops__items--list" *ngFor="let crop of crops" (click)="selectCropHandlerClick(crop.name)"
        [class.selected]="selectedCrops[crop.name]">
        <ion-img [src]="crop.img"></ion-img>
      </li>
    </ul>
    <div class="select-crops__button">
      <app-button class="solid" name="Next" (click)="buttonClickHandler()"></app-button>
    </div>
  </div>
</ion-content>
