.community {
  &__header {
    background-image: var(--ion-color-gradient);
    display: grid;
    grid-template-columns: max-content 50% 20% 15%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 10rem;
  }
  &__write-post {
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    padding: 0.8rem;
  }
  &__sort {
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    padding: 0.8rem;
  }
}
.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  padding: 0 1rem;
}
.comment > ion-icon {
  font-size: 20px;
}

ion-card {
  position: relative;
}

.icons {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 30px;
}
