<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label color="success">Home</ion-label>
      <ion-icon name="home-outline" color="success"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="community">
      <ion-label color="success">Community</ion-label>
      <ion-icon name="chatbubbles-outline" color="success"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="farming-method">
      <ion-label color="success">Farming Method</ion-label>
      <ion-icon name="construct-outline" color="success"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label color="success">Profile</ion-label>
      <ion-icon name="person-outline" color="success"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
