.add-image {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
  &__title {
    align-self: flex-end;
  }
  &__message {
  }

  &__buttons {
    margin-top: 6.4rem;
    width: 100%;
    align-self: flex-end;
  }
}
