<ion-content class="ion-padding">
  <div class="add-image">
    <div class="add-image__header">
      <h1 class="add-image__title">Welcome, Jake</h1>
      <p class="add-image__message">Add photos so that other users can know you</p>
    </div>
    <ion-img class="add-image__img" src="assets/img/jake.jpg"></ion-img>
    <div class="add-image__buttons">
      <app-button class="solid" name="Upload a photo"></app-button>
      <app-button name="Skip for now" (click)="skipHandlerClick()"></app-button>
    </div>
  </div>
</ion-content>
