<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Your name</ion-label>
    <ion-input [(ngModel)]="name" placeholder="Your name"></ion-input>
  </ion-item>
</ion-content> -->

<div class="add-modal__header-button">
  <div class="add-modal__header-button--cancel" (click)="cancel()">Cancel</div>
  <div class="add-modal__header-button--add" (click)="confirm()">Add</div>
</div>
<ion-content class="ion-padding">
  <div class="add-modal">
    <div class="add-modal__details" *ngIf="!isHaveTitleandHectares">
      <ion-item>
        <ion-label position="stacked">Crops/Livestock</ion-label>
        <ion-input autocapitalize="on" [(ngModel)]="agriDetails.name"></ion-input>
      </ion-item>
      <div class="add-modal__hectares">
        <input type="text" [value]="agriDetails.hectares + ' ha'">
        <div class="add-modal__hectares-buttons">
          <div class="add-modal__hectares-button-add" (click)="btnAdd()">
            <ion-icon name="add-outline"></ion-icon>
          </div>
          <div class="add-modal__hectares-button-minus" (click)="btnMinus()">
            <ion-icon name="remove-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <ion-list class="add-modal__input-field">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input [(ngModel)]="farmingMethod.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Message</ion-label>
        <ion-textarea autoGrow="true" [(ngModel)]="farmingMethod.message"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
