<div class="nav-button-container">
  <div class="back-btn">
    <ion-icon
      class="back-btn--icon"
      name="arrow-back-outline"
    ></ion-icon>
  </div>
  <div class="bar-container">
    <ion-icon class="bar-1" name="ellipse-outline"></ion-icon>
    <ion-icon class="bar-2" name="ellipse-outline"></ion-icon>
    <ion-icon class="bar-3" name="ellipse-outline"></ion-icon>
    <ion-icon class="bar-4" name="ellipse-outline"></ion-icon>
  </div>
  <div class="next-btn" routerLink="/onboarding/screen2">
    <ion-icon
      class="next-btn--icon"
      name="arrow-forward-outline"
    ></ion-icon>
  </div>
</div>