<ion-content>
  <div class="finished-setup page-container">
    <div class="finished-setup__content">
      <div class="finished-setup__logo">
        <ion-icon class="finished-setup__icon" name="checkmark-outline"></ion-icon>
      </div>
      <ion-label class="finished-setup__content--title">Finished Setup</ion-label>
    </div>
    <div class="finished-setup__buttons">
      <app-button class="solid" name="Get started"></app-button>
      <p routerLink="/profile-setup/crops-or-livestock/select-livestocks">Back</p>
    </div>
  </div>
</ion-content>
