.finished-setup {
  &__content {
    margin-top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &--title {
      font-size: 3rem;
      color: #519259;
      margin-top: 1rem;
    }
  }
  &__logo {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    background-color: #e7f4e7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
      content: "";
      width: 15rem;
      height: 15rem;
      border-radius: 100%;
      background-color: #5cb85c;
    }
  }
  &__icon {
    position: absolute;
    font-size: 5rem;
    color: #fff;
  }
  &__buttons {
    margin-top: 20rem;
    text-align: center;
    display: grid;
    row-gap: 1.8rem;
    & > p {
      text-decoration: underline;
    }
  }
}
