<ion-content>
  <div class="farming-method-details">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <div class="back-btn" (click)="backBtnHandler()" defaultHref="'/main/tabs/farming-method'">
            <ion-icon class="back-btn--icon" name="arrow-back-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="farming-method-details__header">
            <ion-img class="farming-method-details__header--img" src="assets/farming-method/farmingMethodLogo.webp">
            </ion-img>
            <div class="farming-method-details__header--details">
              <div>
                <span class="farming-method-details__header--name">{{farmingMethod.name}}</span>
                <span class="farming-method-details__header--date">{{farmingMethod.date | date}}</span>
              </div>
              <div class="farming-method-details__header--hectares">{{farmingMethod.hectares}} ha</div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="farming-method-details__heading">
            <h1 class="farming-method-details__heading--title">{{farmingMethod.name}} Farming Methods</h1>
            <div class="farming-method-details__heading--details">
              <div class="farming-method-details__heading--details--userInfo">
                <span>By</span>
                <img class="farming-method-details__heading--details--img"
                  [src]="nameOfFarmer[farmingMethod.userId]?.imgUrl" alt="">
                <span class="farming-method-details__heading--details--name">
                  {{nameOfFarmer[farmingMethod.userId]?.firstName.charAt(0).toUpperCase()+ nameOfFarmer[farmingMethod.userId]?.firstName.slice(1) + ' ' + nameOfFarmer[farmingMethod.userId]?.lastName.charAt(0).toUpperCase() + nameOfFarmer[farmingMethod.userId]?.lastName.slice(1)}}</span>
              </div>
              <div class="farming-method-details__heading--details--saveIcon" (click)="saveClickHandler()">
                <ion-icon name="heart-outline" *ngIf="!isSaved"></ion-icon>
                <ion-icon name="heart" *ngIf="isSaved"></ion-icon>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="farming-method-details__content" *ngFor="let method of farmingMethod.methods">
            <img *ngIf="method['img']" [src]="method['img']" alt="" class="farming-method-details__img">
            <app-title [title]="method['title']"></app-title>
            <app-message [message]="method['message']"></app-message>
            <div class="border-line"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
