.farming-method-details {
  &__header {
    height: 15rem;
    width: 100%;
    background-image: linear-gradient(to right, #0f2027, #2c5364);
    border-radius: 2.5rem;
    color: #ffffff;
    position: relative;
    display: grid;
    padding: 1rem;
    margin-top: 1rem;
    &--img {
      width: 10rem;
      height: 10rem;
      object-fit: contain;
      place-self: center;
    }
    &--details {
      padding: 2rem;
      display: flex;
      width: 100%;
      position: absolute;
      justify-content: space-between;
      & > div {
        display: grid;
      }
    }
    &--name {
      font-size: 1.6rem;
      font-weight: bold;
    }
    &--date {
      font-weight: normal;
    }
    &--hectares {
      width: 4.7rem;
      height: 1.7rem;
      background-color: #5cb85c;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2.5rem;
    }
  }
  &____content {
    margin-top: 2rem;
  }
  &__heading {
    margin-top: 1.5rem;
    &--title {
      font-size: 4rem;
      font-weight: bold;
      line-height: 120%;
    }
    &--details {
      display: flex;
      align-items: center;
      transform: translate(0.2rem, 0.6rem);

      &--img {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        object-fit: cover;
        margin: 0 0.5rem;
      }
      &--name {
        margin-right: 2rem;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
}

.border-line {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  transform: translateY(22px);
}

.back-btn {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &:hover {
    opacity: 0.8;
  }
  &--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: #333;
  }
}
