<div class="card-item">

  <div class="card-item__first">
    <img src="assets/img/jake.jpg" alt="">
    <div class="card-item__first-name-details">
      <h3>Jake Castor</h3>
      <span>2 hours</span>
    </div>
  </div>
  <div class="card-item__middle">
    <p>{{farmingMethod.methods[0].title}}</p>
  </div>
  <div class="card-item__last">
    <div class="card-item__last-name">{{farmingMethod.name}}
    </div>
    <div class="card-item__last-hectares">{{farmingMethod.hectares}} ha</div>
  </div>
</div>
