<!-- <ion-content>
  <ion-buttons>
    <ion-button routerLink="/onboarding/screen2">Back</ion-button>
    <ion-button routerLink="/onboarding/screen4">Next</ion-button>
  </ion-buttons>
</ion-content> -->

<ion-content>
  <span class="skip-button" routerLink='/auth-page/register'>skip</span>
  <ion-grid class="screen3__container">
    <ion-row class="ion-align-items-center ion-text-center">
      <ion-col>
        <app-content [data]="data"></app-content>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-nav-bar></app-nav-bar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
