.edit-profile {
  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--name {
      margin-top: 1rem;
      font-size: 2.4rem;
      font-weight: bold;
    }
    &--avatar {
      width: 100% !important;
      height: 100% !important;
      max-width: 10rem !important; //any size
      max-height: 10rem !important; //any size
    }
  }
}
