<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home__header container">
    <div class="home__user">
      <ion-img
        class="home__header-logo"
        src="assets/img/crops/avatar.png"
      ></ion-img>
      <div class="home__user--content">
        <ion-label class="home__user--content-greetings"
          >Good morning,</ion-label
        >
        <ion-label class="home__user--content-name">Jake</ion-label>
      </div>
    </div>
    <div class="home__weather">
      <ion-label class="home__weather-updates"></ion-label>
      <div class="home__weather-button"></div>
    </div>
  </div>
  <div class="home__content">
    <ion-grid>
      <ion-label class="home__content--title" color="primary"
        >My Crops</ion-label
      >
      <ion-row>
        <ion-slides [options]="sliderConfig">
          <ion-slide *ngFor="let cropsData of homeDataCrops">
            <ion-col>
              <app-cards
                [item]="cropsData"
                [color]="cropsColors"
                (click)="onClickCropDetails(cropsData.id)"
              ></app-cards>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <ion-label class="home__content--title" color="primary"
        >My LiveStock</ion-label
      >
      <ion-row>
        <ion-slides [options]="sliderConfig">
          <ion-slide *ngFor="let livestockData of homeDataLivestock">
            <ion-col>
              <app-cards
                [item]="livestockData"
                [color]="livestockColors"
                (click)="onClickLivestockDetails(livestockData.id)"
              ></app-cards>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
