.home {
  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 12rem;
    align-items: center;
    margin-top: 3rem;
    background-image: var(--ion-color-gradient);
    border-radius: 15px;
    padding: 2rem;
    &-logo {
      width: 110px;
      height: 110px;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    color: #fff;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-greetings {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
  &__weather {
    align-self: center;
    &-updates {
      color: #fff;
    }
    &-button {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      column-gap: 0.8rem;
      background-color: #fff;
      padding: 0.4rem;
      border-radius: 25px;
      width: fit-content;
      margin-top: 1rem;
    }
  }

  &__content {
    background-color: #fff;
    &--title {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f3f3f3;
      padding: 1rem;
      border-radius: 5px;
    }
    &--name {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &--edit-crops {
      display: flex;
      align-items: center;
    }
  }
}
