<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-label>Darkmode</ion-label>
      <ion-toggle color="dark" (click)="darkModeClickHandler()"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home__header">
    <div class="home__user">
      <div class="home__user--content">
        <ion-label class="home__user--content-greetings">Good Morning, Jake</ion-label>
        <ion-label class="home__user--content-tips">Today is the perfect time to water your crops.</ion-label>
      </div>
    </div>
    <div class="home__weather">
      <ion-label class="home__weather-updates">Tabon, San Isidro, Nueva Ecija
        Sunday 9:00 AM
        Mostly cloudy</ion-label>
      <div class="home__weather-button">
        <ion-icon name="sunny-outline"></ion-icon>
        <span>weather</span>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
  <div class="home__content">
    <ion-grid>
      <div class="home__content--title">
        <ion-label class="home__content--name" color="primary">Crops</ion-label>
        <p class="home__content--edit-crops">Edit crops <ion-icon name="chevron-forward-outline"></ion-icon>
        </p>
      </div>
      <ion-row>
        <ion-slides [options]="sliderConfig">
          <ion-slide *ngFor="let cropsData of homeDataCrops">
            <ion-col>
              <app-cards [item]="cropsData" [color]="cropsColors" (click)="onClickCropDetails(cropsData.id)">
              </app-cards>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>
      <div class="home__content--title">
        <ion-label class="home__content--name" color="primary">My LiveStock</ion-label>
        <p class="home__content--edit-crops">Edit crops <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <ion-row>
        <ion-slides [options]="sliderConfig">
          <ion-slide *ngFor="let livestockData of homeDataLivestock">
            <ion-col>
              <app-cards [item]="livestockData" [color]="livestockColors"
                (click)="onClickLivestockDetails(livestockData.id)"></app-cards>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
