.home {
  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 13rem;
    align-items: center;
    margin-top: 3rem;
    background-image: var(--ion-color-gradient);
    border-radius: 15px;
    padding: 1.5rem 2rem;
    &-logo {
      width: 110px;
      height: 110px;
    }
  }
  &__user-list {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    align-items: center;
  }
  &__user {
    display: flex;
    align-items: center;
    color: #fff;

    &--content {
      display: grid;
      &-tips {
        margin-top: 4px;
      }

      &-greetings {
        font-size: 1.4rem;
        font-weight: 500;
      }
      &__weather {
        transform: translate(-20px, -19px);
        display: flex;
        align-items: center;

        &--details {
        }
        &--degree {
          color: #ffffff;
          font-size: 2.8rem;
        }
        &--desc {
          word-break: break-word;
        }
        &--address {
          font-size: 1.2rem;
          color: #ffffff;
          transform: translateY(-36px);
        }
      }
    }
  }
  &__weather {
    justify-self: end;
    align-self: flex-start;

    &__details {
      display: flex;
      flex-direction: column;
    }
    &__today {
      font-size: 2.8rem;
      color: #ffffff;
    }
    &__updates {
      color: #ffffff;
      font-size: 1.2rem;
    }
    &__feels-like {
      color: #ffffff;
      font-size: 1.2rem;
    }

    &-button {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      column-gap: 0.8rem;
      background-color: #fff;
      padding: 0.4rem;
      border-radius: 25px;
      width: fit-content;
      margin-top: 0.8rem;
      transform: translateX(-5px);
    }
  }

  &__content {
    background-color: #fff;

    &__slide {
      display: flex;
      margin-right: 1rem;
      overflow-x: scroll;
      width: 100%;
    }

    &--title {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f3f3f3;
      padding: 1rem;
      border-radius: 5px;
    }
    &--name {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &--edit-crops {
      display: flex;
      align-items: center;
    }
  }
}
