.select-livestock {
  margin-top: 15rem;
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: min-content;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 6rem;
    height: 35rem;
    overflow-y: scroll;
    justify-items: center;
    padding: 0;
    margin-top: 5rem;

    &--list {
      display: block;
      width: 10rem;
      height: 10rem;
      padding: 1rem;
      border-radius: 100%;
      background-color: #ffeaea;
    }
  }
  &__button {
    margin-top: 5rem;
  }
}

.selected {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: url("../../../../assets/img/check.png") no-repeat 0 0;
    background-size: 45px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-position: center;
    backdrop-filter: blur(2px);
  }
}
