.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 250px;
  height: 250px;
}
h1 {
  font-weight: bold;
  font-size: 29px;
  color: var(--ion-color-gray);
}
p {
  color: var(--ion-color-gray-light);
  font-size: 18px;
  margin-top: 10px;
  padding: 0 15px;
}

.skip-button {
  display: block;
  text-align: end;
  margin-top: 40px;
  margin-right: 30px;
  color: var(--ion-color-gray-light);
  font-size: 20px;
  font-weight: bold;
}