<ion-content>
  <div class="add-farming-method">

    <span class="add-farming-method__publish" (click)="onPublishClickHandler()">Publish</span>
  </div>
  <div class="add-farming-method__remove ion-padding" *ngIf="publishData?.name">
    <ion-button fill="outline" color="danger" (click)="onRemoveClickHandler()">Remove All</ion-button>
  </div>
  <div class="add-farming-method__details ion-padding-horizontal" *ngIf="publishData?.name">
    <h1 class="add-farming-method__name">{{publishData?.name}}</h1>
    <h1 class="add-farming-method__hectares">{{publishData?.hectares}} hectares</h1>
  </div>

  <div class="add-farming-method__content ion-padding">
    <div class="add-farming-method__content--item" *ngFor="let data of publishData?.methods ">
      <div class="add-farming-method__content--icons">
        <ion-icon name="create-outline" class="add-farming-method__content--icons--edit"
          (click)="onEditClickHandler(data.id)">
        </ion-icon>
        <ion-icon name="trash-outline" class="add-farming-method__content--icons--delete"
          (click)="onDeleteClickHandler(data.id)"></ion-icon>
      </div>
      <app-title [title]="data.title"></app-title>
      <app-message [message]="data.message"></app-message>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="dark">
    <ion-fab-button color="dark" (click)="openModal()">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
