<ion-content>
  <div class="add-farming-method">
    <span class="add-farming-method__publish">Publish</span>
  </div>
  <div class="add-farming-method__content ion-padding">
    <div class="add-farming-method__content--item" *ngFor="let data of publishData">
      <app-title [title]="data.title"></app-title>
      <app-message [message]="data.message"></app-message>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="dark">
    <ion-fab-button color="dark" (click)="openModal()">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
